{
  "dns": {
    "servers": [
      {
        "type": "udp",
        "tag": "dns-internal",
        "server": "192.0.2.1",
        "detour": "direct"
      },
      {
        "type": "udp",
        "tag": "dns-cn",
        "server": "192.0.2.2"
      },
      {
        "type": "udp",
        "tag": "dns-foreign",
        "server": "192.0.2.3",
        "detour": "proxy"
      }
    ]
  },
  "route": {
    "rule_set": [
      {
        "type": "inline",
        "tag": "zone-internal",
        "rules": [{ "domain_suffix": ["example.internal"] }]
      }
    ]
  },
  "outbounds": [
    { "type": "direct", "tag": "proxy" },
    { "type": "direct", "tag": "openai" },
    { "type": "direct", "tag": "gemini" },
    { "type": "direct", "tag": "appleai" },
    { "type": "direct", "tag": "dev" },
    { "type": "direct", "tag": "ptcg" },
    { "type": "direct", "tag": "adultnsfw" },
    { "type": "direct", "tag": "japansite" },
    { "type": "direct", "tag": "opencode" }
  ]
}
