{
  "$schema": "本地专有配置示例（绝不进 Git，仅供本机定制覆盖）",
  "dns": {
    "servers": [
      {
        "tag": "dns-internal",
        "type": "udp",
        "server": "192.168.6.1"
      }
    ],
    "rules": [
      {
        "domain_suffix": [
          "ooooo.space"
        ],
        "action": "route",
        "server": "dns-internal"
      }
    ]
  },
  "route": {
    "rules": [
      {
        "domain_suffix": [
          "ooooo.space"
        ],
        "outbound": "direct"
      }
    ]
  }
}
